mat-grid-tile {
  background: lightblue;
}
.dash{
  width: 80%;
  margin-left: 16%;
  margin-top: -40%;
}
.bg-body-tertiary{
    width: 80%;
    margin-left: 19%;
}
.container{
    width: 20%;
    margin-left: -4%;
    margin-top: -3%;
}
.container-fluid{
    background-color: aqua;
    height: 620px;
    margin-top: -3%;
}